.home {
    &__header {
        .container {
            background-color: $body-bg;
            margin-inline: auto;
            display: flex;
            align-items: center;
            min-height: 70px;
            padding: 16px 10px ;
        }

        .logo {
            font-weight: bold;
        }

        nav {
            display: flex;
            column-gap: 16px;
        }
    }
}
