.btn {
    @include squares(12px);
    display: inline-block;
    border: solid 1px $dark;
    border-radius: 100%;

    &--update {
        background-color: $neutral;
        border-color: $neutral;
    }

    &--show {
        background-color: $primary-dark;
        border-color: $primary-dark;
    }

    &--delete {
        background-color: $secondary;
        border-color: $secondary;
    }

    &--primary-o {
        background-color: $body-bg;
        border: solid 2px $white;
        padding: 8px 80px;
        border-radius: 8px;
        color: $dark;
        font-size: 18px;
        color: $primary-dark;
    }
}
