@mixin squares($size) {
  height: $size;
  width: $size;
}

@mixin centralized {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BREAKPOINTS */

@mixin desktop-large {
  @media screen and (max-width: $xxl) {
    @content;
  }
}

@mixin desktop-md-down {
  @media screen and (max-width: $xl) {
    @content;
  }
}

@mixin desktop-down {
  @media screen and (max-width: $lg) {
    @content;
  }
}

@mixin tablet-down {
  @media screen and (max-width: $md) {
    @content;
  }
}

@mixin mobile {
    @media screen and (max-width: $sm) {
        @content;
    }
}

@mixin mobile-down {
  @media screen and (max-width: $xs) {
    @content;
  }
}
