// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// Colors
$primary: #a18aff;
$primary-light: #ca8bfe;
$primary-dark: #3fd4;
$secondary: #fd99af;
$dark: #717082;
$neutral: #fac608;
$white: #fff;

$container: 1024px;
